
<div class="row">
  <div class="col-sm-12">
<div class='login_wrapper'>

<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#menu1">Developer</a></li>
  <li class="active"><a data-toggle="tab" href="#home">E-Voter Login</a></li>
  
</ul>

<div class="tab-content">
<div id="home" class="tab-pane fade in active">
<div class='login_div'>
<div style='text-align:center;margin-top:-70px;'>
<span class="glyphicon glyphicon-user" id='login_user_logo'></span>
</div>
<h2 id='portal_login'></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<%if alert.present? || notice.present?%>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= alert %> <%= notice %>
</div>

<%end%>


  <div class="form-group">
    <div id='reg_no_div'>
    <span class="glyphicon glyphicon-user"></span> Registration Number
    </div>
    <%= f.text_field :reg_no,class: "form-control",placeholder:"Reg Number e.g 20111778000",id:'reg_pass1' %>
  </div>

   <div class="form-group">
   <div id='reg_no_div'>
   <span class="glyphicon glyphicon-lock"></span> Password
   </div>
    <%= f.password_field :password, class: "form-control",id:'reg_pass2' %>
  </div>

   <div class="form-group">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-group">
    <%= f.button :submit,"Log In", class: "btn btn-info btn-lg" %>

  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

</div>
</div>
</div>
