



<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<%if alert.present? || notice.present?%>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= alert %> <%= notice %>
</div>

<%end%>


  <div class="form-group">
    <span class="glyphicon glyphicon-user"></span> Registration Number
    <%= f.text_field :reg_no,class: "form-control",placeholder:"Reg Number e.g 20111778000",id:'reg_pass1' %>
  </div>

   <div class="form-group">
   <span class="glyphicon glyphicon-lock"></span> Password
    <%= f.password_field :password, class: "form-control",id:'reg_pass2' %>
  </div>

   <div class="form-group">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-group">
    <%= f.button :submit,"Log In", class: "btn btn-info btn-lg" %>

  </div>
<% end %>


