<% provide(:title, 'NACOSS|E-VOTING')%>


<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#developer">Developers</a></li>
  <li class="active"><a data-toggle="tab" href="#evoter">E-Voting</a></li>
</ul>

<div class="tab-content">
  <div id="developer" class="tab-pane fade">
    <h3>Developers</h3>
    <p>Some content.</p>
  </div>
  <div id="evoter" class="tab-pane fade in active">

<div class="row">
<div class="login_page">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<%if alert.present? || notice.present?%>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= alert %> <%= notice %>
</div>

<%end%>

  <div class="form-inputs">
   <div class='text_login'><span class="glyphicon glyphicon-user"></span> Registration Number</div>
    <%= f.text_field :reg_no,class: "form-control",placeholder:"e.g 20111778000",required: true, autofocus: true %>
    </div>
  <div class="form-inputs">
  <div class='text_login'><span class="glyphicon glyphicon-lock"></span> Password</div>
   <%= f.password_field :password, class: "form-control", required: true, autofocus: true %> 
 </div>
   <div class="form-inputs">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit,"Log In", class: "btn btn-info btn-lg" %>

  </div>
<% end %>

</div>
</div>

  </div>
</div>