<div class="modal-dialog">

  <div class="modal-content">

    <%= form_for :aspirant, url:subscription_aspirant_path(@subscription,@aspirant), method: :patch,remote:true do |f| %>
      <div class="modal-body">

<div class="row">
  <div class="col-sm-12">
        <ul class="errors"></ul>

  </div>
  </div>

        <div class="form-group">
          <div id='acct_style' style="text-align:right">Aspirant's Photo:</div>

          <% if @aspirant.image? %>
          <div style="padding:10px;text-align:right"><span><%= image_tag @aspirant.image_url(),class:"img-thumbnail",width:"100", height:"100" %></span>
          </div>
          <% else %>
        
          <% end %> 
      
        <%= f.file_field :image,class: "form-control" %>

        </div>

        <div class="form-group">
          <div id='acct_style'>First Name:</div>
      <%= f.text_field :first_name, class: "form-control" %>

        </div>

         <div class="form-group">
          <div id='acct_style'>Last Name:</div>
      <%= f.text_field :last_name, class: "form-control" %>

        </div>


         <div class="form-group">
<div class="row">
  <div class="col-sm-6">
        <%= f.radio_button :gender, "Male" %> Male</div> <div class="col-sm-6"><%= f.radio_button :gender, "Female" %> Female</div>

</div>
</div>

                 <div class="form-group">
<div class="row">
  <div class="col-sm-12">
         <%= f.select(:level, options_for_select([
         ['100L', '100L'],
         ['200L', '200L'],
         ['300L', '300L'],
         ['400L', '400L'],
         ['500L', '500L']],@aspirant.level || default_value),
        class: "form-control") %>     

</div>
</div>
</div>

           <div class="form-group">
          <div id='acct_style'>Position:</div>
      <%= f.select(:position, options_for_select([
        ['PRESIDENT', 'PRESIDENT'],
         ['VICE PRESIDENT', 'VICE PRESIDENT'],
         ['SECRETARY GENERAL', 'SECRETARY GENERAL'],
         ['FINANCIAL SECRETARY', 'FINANCIAL SECRETARY'],
         ['DIRECTOR OF WELFARE', 'DIRECTOR OF WELFARE'],
         ['DIRECTOR OF SPORTS', 'DIRECTOR OF SPORTS'],
         ['DIRECTOR OF SOCIALS', 'DIRECTOR OF SOCIALS'],
         ['ASSISTANT SEC GEN', 'ASSISTANT SEC GEN'],
         ['TREASURER', 'TREASURER'],
         ['PROVOST1', 'PROVOST1'],
         ['PROVOST2', 'PROVOST2'],
         ['PRO', 'PRO']  ],@aspirant.position || default_value),class: "form-control") %>

        </div>

        <div class="form-group">
          <div id='acct_style'>Statement:</div>
      <%= f.text_area :statement, class: "form-control" %>

        </div>

 

      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary",id:'submit_bts' %>
        <%= button_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>