<div class="modal-dialog">

  <div class="modal-content">

    <%= form_for :aspirant, url:subscription_aspirant_path(@subscription,@aspirant), method: :patch,remote:true do |f| %>
      <div class="modal-body">

<div class="row">
  <div class="col-sm-12">
        <ul class="errors"></ul>

  </div>
  </div>

        <div class="form-group">

          <% if @aspirant.image? %>
          <div style="padding:10px;text-align:right"><span><%= image_tag @aspirant.image_url(),class:"img-thumbnail",width:"100", height:"100" %></span>
          </div>
          <% else %>
        
          <% end %> 

        </div>

        <div class="form-group">
          <div id='acct_style'>First Name:</div>
      <%= f.text_field :first_name, class: "form-control",disabled:'disabled' %>

        </div>

         <div class="form-group">
          <div id='acct_style'>Last Name:</div>
      <%= f.text_field :last_name, class: "form-control" ,disabled:'disabled'%>

        </div>


         <div class="form-group">
<div class="row">
  <div class="col-sm-6">
        <%= f.radio_button :gender, "Male",disabled:'disabled' %> Male</div> <div class="col-sm-6"><%= f.radio_button :gender, "Female",disabled:'disabled' %> Female</div>

</div>
</div>

        <div class="form-group">
          <div id='acct_style'>Position:</div>
      <%= f.text_field :position, class: "form-control",disabled:'disabled' %>

        </div>

        <div class="form-group">
          <div id='acct_style'>Statement:</div>
      <%= f.text_area :statement, class: "form-control",disabled:'disabled' %>

        </div>

 

      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>