<div class='wrapper'>


<%= render "shared/nav_bar" %>


<div class="row">
  <div class="col-sm-12">

  <div class="form-group">
  <label for="usr">Search <u><%= @subscription.account_name %></u> Aspirants by Post:</label>
  <%= form_tag subscription_aspirants_path,method: :get,remote:true do  %>
     <div class="input-group input-group-lg">
     <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
  <%= text_field_tag :search, "", class: 'form-control' %>
  </div>

  <% end %> 
</div>

  <div class='render-ajax'>

<%= render 'paginationaspirants' %>

</div>
<div class='new'>
<%= link_to "New #{@subscription.account_name} Aspirant", new_subscription_aspirant_path, remote: true, class: "btn btn-primary" %>
</div>

<br>
<%= render "shared/loading" %>
  </div>

</div>

<div id="subscription-modal" class="modal fade"></div>



</div>