
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#" >Clickital</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><%=link_to subscriptions_path do %> <span class="glyphicon glyphicon-envelope"></span> Subscription <% end %></li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> <%= @subscription.account_name %> Aspirants</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>

  </div>
</nav>


<div class="row">
  <div class="col-sm-12">

  <div class="form-group">
  <label for="usr">Search <u><%= @subscription.account_name %></u> Aspirants by Post:</label>
  <%= form_tag subscription_aspirants_path,method: :get,remote:true do  %>
     <div class="input-group input-group-lg">
     <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
  <%= text_field_tag :search, "", class: 'form-control' %>
  </div>

  <% end %> 
</div>

  <div class='render-ajax'>

<%= render 'paginationaspirants' %>

</div>

<%= link_to "New #{@subscription.account_name} Aspirant", new_subscription_aspirant_path, remote: true, class: "btn btn-primary" %>

<br>

  </div>

</div>

<div id="subscription-modal" class="modal fade"></div>

<footer class="container-fluid text-center">
</footer>