<div class="modal-dialog">

  <div class="modal-content">

    <%= form_for :user, url:subscription_user_path(@subscription,@user), method: :patch,remote:true do |f| %>
      <div class="modal-body">

<div class="row">
  <div class="col-sm-12">
        <ul class="errors"></ul>

  </div>
  </div>

        <div class="form-group">
          <div id='acct_style'>First Name:</div>
      <%= f.text_field :first_name, class: "form-control" %>

        </div>

         <div class="form-group">
          <div id='acct_style'>Last Name:</div>
      <%= f.text_field :last_name, class: "form-control" %>

        </div>

                 <div class="form-group">
<div class="row">
  <div class="col-sm-6">
        <%= f.radio_button :gender, "Male" %> Male</div> <div class="col-sm-6"><%= f.radio_button :gender, "Female" %> Female</div>

</div>
</div>

                <div class="form-group">
          <div id='acct_style'>Reg. No:</div>
      <%= f.text_field :reg_no, class: "form-control" %>

        </div>

          <div class="form-group">
          <div id='acct_style'>Phone No.:</div>
      <%= f.text_area :phone_no, class: "form-control" %>

        </div>




 <div class="form-group">
 <div class="row">
  <div class="col-sm-4">
          <div id='acct_style'><span class="glyphicon envelope"></span> Resend SMS Token
          <%=radio_button_tag 'sms', 'token'%></div></div>

      <div class="col-sm-4">     <div id='acct_style'><span class="glyphicon envelope"></span> Resend SMS Thanks 
          <%=radio_button_tag 'sms', 'thanks'%></div> </div>
<div class="col-sm-4">
          ( <a href='#'  id='reset_bt'>Uncheck</a> ) </div>

</div>
</div>


        Admin
        </button>

      </div>
    <% end %>
  </div>
</div>