<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
        <%= link_to  subscriptions_path,class:"navbar-brand" do %>
          Clickital
        <%end%>

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li>
        <%= link_to  subscriptions_path do %>
        <span class="glyphicon glyphicon-home"></span>
         Home
        <%end%>
        </li>

        <li><%=link_to subscriptions_path do %> <span class="glyphicon glyphicon-envelope"></span> Subscription <% end %></li>

        <% if @subscription.present? %>
        <li>
        <%= link_to  subscription_aspirants_path do %>
          <span class="glyphicon glyphicon-user"></span> <%= @subscription.account_name.split(' ')[0] %> Aspirants
        <%end%>
        </li>

        <li>
        <%= link_to  subscription_users_path do %>
          <span class="glyphicon glyphicon-user"></span> <%= @subscription.account_name.split(' ')[0] %> Users
        <%end%>
        </li>

        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">

         <li><%= link_to  destroy_admin_session_path , method: :delete do %>
            <span class="glyphicon glyphicon-log-out"></span> Logout (<%= current_admin.email.split('@')[0] %>)
            <%end%>
        </li>

      </ul>
    </div>

  </div>
</nav>