     <% @voters.each do |voter| %>
      <tr>
        <td><%= voter.first_name %></td>
        <td> <%= voter.last_name %></td>
        <td> <%= voter.gender %></td>
        <td><%= voter.reg_no %></td>
        <td><%= voter.phone_no %></td>
        <td><%= link_to subscription_voter_path(@subscription,voter),remote: true, class:'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
        <%end%>
        </td>
        <td>
        <%= link_to  edit_subscription_voter_path(@subscription,voter),remote: true, class:'btn btn-primary' do  %>
              <span class="glyphicon glyphicon-pencil"></span>
          <%end%>
        </td>
        <td>

        <%= link_to subscription_aspirant_path(@subscription,voter), method: :DELETE, remote: true, class:"btn btn-danger",data: {confirm: 'Are You Sure You Want To Delete Voter?' }  do %>
            <span class="glyphicon glyphicon-trash"></span>
          <%end%>
          
        </td>

      </tr>


      <% end %>