<div class="modal-dialog">

  <div class="modal-content">
      <div class="modal-body">

      <div class='links_to_aspirants' >
      <div><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></div>
      <%= link_to "#{@subscription.account_name} VOTERS",subscription_users_path(@subscription), class:"btn btn-success",id:'submit_bts' %></div>

      <div class='links_to_aspirants'>
      <div><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></div>

      <%= link_to "#{@subscription.account_name} ASPIRANTS",subscription_aspirants_path(@subscription), class:"btn btn-success",id:'submit_bts' %>
     </div>

      <div class='links_to_aspirants'>
      <div><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></div>
      <%= link_to "#{@subscription.account_name} RESULTS",subscription_results_path(current_user.subscription.account_name.tr(' ','-')), class:"btn btn-success",id:'submit_bts' %>
     </div>

      <div class='links_to_aspirants'>
      <div><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></div>

      <%= link_to "MANAGE SMS",subscription_sms_path(@subscription), class:"btn btn-success",id:'submit_bts' %></div>

      <div class='links_to_aspirants'>
      <div><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></div>

      <%= link_to "VIEW RESULTS",subscription_results_admin_path(@subscription), class:"btn btn-info",id:'submit_bts' %></div>

      </div>




      <div class="modal-footer">
        <%= button_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>

      </div>
  </div>
</div>