    <% provide(:title, 'SUBSCRIBE')%>
     <% @subscriptions.each do |subscription| %>
      <tr>
        <td><span class="glyphicon glyphicon-tag"></span> <%= subscription.account_name %></td>
        <td><span class="glyphicon glyphicon-time"></span> <%= subscription.created_at.strftime("%d %B %Y") %></td>
         <td>
         <%if subscription.timer=="On" %>
        <%= link_to edit_subscription_path(subscription),remote: true, class:'btn btn-success' do %>
            <span class="glyphicon glyphicon-time"></span> <%= subscription.timer %>
            <%end%>

        <%else%>
        <%= link_to edit_subscription_path(subscription),remote: true, class:'btn btn-danger' do %>
            <span class="glyphicon glyphicon-time"></span> <%= subscription.timer %>
            <%end%>

        <%end%>
        </td>
        <td>
          <%= link_to  edit_subscription_path(subscription),remote: true, class:'btn btn-primary' do  %>
              <span class="glyphicon glyphicon-pencil"></span>
          <%end%>
        </td>
        <td>
          <%= link_to subscription_path(subscription), method: :DELETE, remote: true, class:"btn btn-danger",data: {confirm: 'Are You Sure You Want To Delete Subscription?' }  do %>
            <span class="glyphicon glyphicon-trash"></span>
            <%end%>
        </td>

        <td>
        <%= link_to subscription_add_path(subscription),remote: true, class:'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
        <%end%>
        </td>

       

      </tr>


      <% end %>
