     <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td> <%= user.last_name %></td>
        <td> <%= user.gender %></td>
        <td><%= user.reg_no %></td>
        <td><%= user.phone_no %></td>
        <td>
        <%= user.sent_token %>
        </td>
        <td>
          <%= user.sent_thanks %>
        </td>


      </tr>


      <% end %>

