<%= provide(:title , 'HOME | VOTE')%>
<div class="row">
  <div class="col-sm-12">

<div class='votewrapper1'>
<div class='votewrapper2'>
<div class='ontop'>
 <span class='subscriber'>
 <span class="glyphicon glyphicon-envelope"></span>
  <%=@current_user.subscription.account_name%>
  </span>
</div>

<%=render "shared/caster_nav_bar" %>


<%=render "error" %>

<% if current_user.subscription.timer=="On" %>

<% if current_user.has_voted? %>

<div class="alert alert-danger" id='sorry_msg'>
<div>Hello <%= current_user.first_name%>,</div>
<div> Thanks for Voting!</div>
</div>

<%else%>
<%=render "casting" %>

<%end%>

<% else %>

<div class="alert alert-danger" id='sorry_msg'>
<div>Hello <%= current_user.first_name%>,</div>
<div>sorry you cannot vote at this time.</div>
</div>


<%end%>


  </div>
  </div>

  </div>
  </div>